site_name: "Agents Concierge Tech Guides"
site_url: "https://cvn-computergross.github.io/agents-concierge/"

theme:
  name: material

nav:
  - Home: index.md
  - Tutorials:
      - Primo tutorial: guide/first-guide.md
